body {
  color: #323232;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200%
}

h1 {
  font-size: 7rem;
  margin: 50px auto 0 auto;
  font-family: 'Dynalight', cursive;
  color: #f0f0f0;
  line-height: 2;
  font-weight: normal;
}

h2 {
  font-family: 'Ramaraja', serif;
  font-size:3rem;
  color: #3282b8;
  font-weight: normal;
  padding-bottom: 10px
}

h3 {
  font-family: 'Suravaram', serif;
  color: #00a8cc;
  font-weight: normal;

}

p {
  line-height: 1;

}

.top-container {
  margin:0px auto 0;
  background-color: #0f4c75;
  position: relative;
  padding-top: 80px;
}

.middle-container {
  background-color: #dddddd;

}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1;
}

.bottom-container {
  background-color: #0f4c75;
  margin: 0px auto ;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.foto2 {

  float: left;
  margin-right: 30px;
}

.img_1140 {
  width: 20%;
  float: right;
  margin-left: 30px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin: 130px auto;
}

.elcamino {
  width: 30%;
  margin: auto;
}

.contact-container {
  width: 40%;
  margin: 40px auto 60px;
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
  background-color: #63b8ee;
  border-radius: 6px;
  border: 1px solid #3866a3;
  display: inline-block;
  cursor: pointer;
  color: #14396a;
  font-family: 'Ramaraja', serif;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7cacde;
  margin: 0 auto 100px
}

.myButton:hover {
  background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
  background-color: #468ccf;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.Angel {
  color: #f0f0f0;
  font-size: 1rem;
  padding: 20px 0;
}
a{
  color: #323232;
  font-family: 'Suravaram', serif;
  font-weight: normal;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #f0f0f0;
}
.myfotoweb{
  padding-top:10%
}
