body {
  background-color: #588da8;
}
h1 {
  color: #204051;
  font-size: 50px;
}
h3{
  color: #204051;
}


hr {

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
a{
  color:#204051
}
